* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 1.25em;
  overflow-x: hidden;
  background-color: #ffff;

  font-family: "Roboto Mono", monospace;
  font-size: 1.2em;

  scrollbar-width: thin;          
  scrollbar-color: black white;   
}
a{
    text-decoration: none;

    color: black;
}

.container-grid {
  display: grid;
  margin: 0 auto;
  

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;  
  grid-template-areas: "uno dos";
}

.item001 {
  grid-area: uno;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);

  grid-template-areas: 
  "item1 . ."
  "item2 item2 item2"
  "item3 item3 item3"
  "item4 item4 item4";

  width: auto;
  height: 760px;
}
.title1{
    grid-area: item1;
    
    
    font-size: 3.5em;
}
.logo{
    grid-area: item2;
    width: 533.33px;
    height: 533.33px;

    background-color: black;
}
.title2{
    grid-area: item3;
    text-align: right;
    font-size: 3.5em;
}
footer{
    grid-area: item4;

    text-align: left;

}
.networks{
    list-style: none;
    font-weight: bold;
    cursor: pointer;

    text-align: right;
}

a:hover{
    text-decoration: underline;
}


.item002 {
  grid-area: dos;
  width: auto;
  height: 760px;

}

.item002>ol{
    list-style: none;
}

.index{
    width: 100%;
    padding: 1em;

    text-align: right;

    border-bottom: 0.25em solid black;
}

.index>a{
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    

    font-size: 2.5em;
    cursor: pointer;
}


.content{
    margin-top: 65px;
    padding: 1em;
    overflow-y: scroll;

    width: auto;
    height: 360px;

}

.content > p{
    display: inline-block;
}
